.container{
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
}
.header{
    background-color: #0C0032;
}
.header__logo{
    font-size: 40px;
    color:  white;
}
.header__button{
    border: none;
    background-color: transparent;
    font-size: 40px;
    cursor:pointer;
    transition: all 300ms ease;
    position: relative;
    color:  white;
}
.header__button:hover{
   color:  rgb(74, 74, 255);
}
.header__cart{
position: absolute;
top: 90px;
right: 20px;
}
.header__button span{
    position: absolute;
    top: 30%;
    font-size: 20px;
    color: red;
}
.header__block{
     display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 0;
    min-width: 100px;
   
}

.cart__block{
    display: flex;
    gap: 15px;
    font-size: 19px;
    min-width: 200px;
}
.cart{
    background-color: #8FC1E3;

    border-radius: 5px;
    box-shadow: 5px 5px 5px  rgb(223, 222, 222);
    padding: 20px;
}
.cart__total{
    padding: 5px  0 0 0 ;
    font-size: 18px;
}

.cart__delete{
    color: red;
    padding: 10px 0 0 0 ;
}